<section class="relative flex w-full flex-col items-center justify-center">
  <p class="text-md absolute my-4 text-white">Nothing here at the moment! Coming soon ...</p>
  <img src={~p"/images/purple_moon.gif"} alt="My Image" class="w-max" />
</section>
