<section class="w-full flex flex-col items-center justify-center relative">
<p class="my-4 absolute text-white text-md">Nothing here at the moment! Coming soon ...</p>
<img src={~p"/images/purple_moon.gif"} alt="My Image" class="w-max"/>
</section>