<div class="container mx-auto px-4 pt-20 pb-32 text-center">
  <div class="container mx-auto px-4 pt-20 pb-32 text-center">
    <p class="mx-auto mb-8 max-w-2xl text-lg text-gray-600">
      The features currently are searches, chatting, public chat room as well as paid features such as emailing, read messages, see last online, auto match
    </p>
  </div>
</div>
