<section class="flex flex-col-reverse flex-col md:flex-row items-center justify-center gap-14 lg:gap-48 md:gap-24 p-5">
    <div class="font-RobotoFlex w-full sm:w-landingPageTextWidth md:w-2/4 gap-14 flex flex-col">
        <h2 class="font-extrabold text-3xl sm:text-3xl md:text-4xl lg:text-7xl tracking-wide">BIBI: WHERE EVERY BYE-BYE LEADS TO A NEW HI-HI</h2>
        <p class="text-2xl">BiBi is the dating app that aims to match bi-sexual men with bi-sexual women.</p>
        <button class="join-button w-max">JOIN BIBI</button>
    </div>
    <img class="w-28 md:w-landingPageImageWidth" src={ static_path(@conn, "/images/couple.png")} />
</section>