<head>
  <script src="https://getlaunchlist.com/js/widget-diy.js" defer>
  </script>
</head>
<div class="container mx-auto px-4 pt-20 pb-32 text-center">
  <div class="container mx-auto px-4 pt-20 pb-32 text-center">
    <p class="max-w-2xl mx-auto text-lg text-gray-600 mb-8">
      Currently there is only one product which is the dating app, but stay tunned for more in the future. You can also request more features too (hasn't been built yet)
    </p>
  </div>
</div>
