@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
    font-family: 'RobotoFlex';
    src: url('/fonts/RobotoFlex.ttf') format('truetype');
  }

  @font-face {
    font-family: 'MarkoOne';
    src: url('/fonts/MarkoOne-Regular.ttf') format('truetype');
  }

@layer components {
  .join-button {
    @apply text-xl bg-colorPrimary transition rounded-md px-32 py-3 hover:scale-110;
  }
  
  .login-button {
    @apply bg-colorSecondary border hover:border hover:transition border-colorSecondary hover:text-colorSecondary hover:bg-transparent text-white rounded-md px-3 py-1;
  }
}
