@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
    font-family: 'RobotoFlex';
    src: url('/fonts/MarkoOne-Regular.ttf') format('truetype');
  }

body {
    font-family: 'RobotoFlex';
}